<div class='container resource-row'>
  <input type='text' name='name-{{index}}' placeholder='Name' value="{{name}}">
  <input type='email' name='email-{{index}}' placeholder='Email' value="{{email}}">
</div>
