<section>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ac felis id orci lobortis posuere. Fusce vitae rhoncus leo, quis sollicitudin mi. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla scelerisque finibus lacus ut eleifend. Nulla leo magna, feugiat sit amet lobortis et, auctor quis nulla. Duis consequat justo sit amet blandit sollicitudin. Suspendisse elementum eleifend ex, non porta massa facilisis cursus. Vestibulum id accumsan massa, quis porta metus.
</section>
<section>
  <form id="input" action="/submit" method="POST">
    <textarea 
      required="true"
      placeholder="Share your experience" 
      name="comment"
      id="comment" 
    ></textarea>
    <div>
      <input type="checkbox" id="anonymous" checked>
      <label for="anonymous">I wish to remain anonymous</label>
      <div id="contact" class="container">
        <input type="text" name="name" placeholder="Name">
        <input type="email" name="email" placeholder="Email Address">
      </div>
    </div>
    <div id="buttons" class="container">
      <select required="true" name="resource" id="resource">
        <option disabled selected hidden value="">Report to</option>
        {{#each resources}}
          <option {{#unless this.available}}disabled{{/unless}} value={{this.email}}>
            {{this.name}}
          </option>
        {{/each}}
      </select>
      <button type="submit">Report</button>
    </div>
  </form>
</section>
