<section>
  Thank you for reporting. Your comments have been forwarded to your selected resource and will be reviewed as soon as they're able. If you chose to de-anonymise, you may be contacted for a follow-up.
</section>
