<!doctype html>
<html>
  <head>
    <title>Community Reporting Tool</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="main.css">
    {{#if style}}
      <link rel="stylesheet" href="{{style}}">
    {{/if}}
  </head>
  <body>
    <main>
      {{{body}}}
    </main>
  </body>
</html>
